* {
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 2, 253);
}

.logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
}

.navbar li a {
    text-decoration: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5.5px;
}

.navbar li a:hover {
    background-color: pink;
    text-decoration:underline;
}

.active {
    color: yellow;
    background-color: greenyellow;
    text-decoration: none;
}

footer {
    text-align: right;
}

.cities {
    
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
}

.Landmarks {
    
    border: 1px solid brown;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
}

.famous {
 
    border: 1px solid brown;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
}

.CLF {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.country-name {
    text-align: center;
}

.country-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
}

.Headline{
    background-color: lawngreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid black
}