body {
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 2, 253);
}




.cities {
    
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
    
}

.Landmarks {
    
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
}

.famous {
 
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em; 
    height: auto;
    width: auto;
}

.CLF {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.boxheadings {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
}
 
.navbar li a {
    text-decoration: none;
}
 
.active {
    color: black;
    background-color: white;
    text-decoration: none;
}

.country-picture {
    display: flex;
    justify-content: center;
   
}

.headline {
    display: flex;
    justify-content: center;
    border: 1px black solid;
    background-color: chartreuse;
}

.foot {
    display:flex;
    justify-content: center;
    border: solid black 1px;
}

a:hover {
    background-color: rgb(38, 228, 202);
  }

  .country-name {
      display: flex;
      justify-content: center;
  }