body {
    background-color: red;
    color: brown
}





.cities {
    
    border:  solid black;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
    
}

.Landmarks {
    
    border:  solid black;
    margin: 1em;
    padding: 0.5em;
    height: auto;
    width: auto;
}

.famous {
 
    border:  solid black;
    margin: 1em;
    padding: 0.5em; 
    height: auto;
    width: auto;
}

.CLF {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.boxheadings {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border:  solid black;
    padding: 5px;
}
 
.navbar li a {
    text-decoration: none;
}
 
.active {
    color: black;
    background-color: white;
    text-decoration: none;
}


.pic {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    border: black solid

}